@model DemoMVC.Models.SearchDrugsModel

<div>
    <h4>Search Result[s]</h4>
    <hr />

    <div class="container">
        @foreach (var item in Model.searchDrugsResult.Select((model, index) => new { index, model }))
        {
            <div class="col-sm-4">
                <div>@Ajax.ActionLink(@item.model, "FlashACard", "FlashCard", new { wantedDisplayDrug = @item.model}, new AjaxOptions{UpdateTargetId = "updateRegion"})</div>
            </div>            
        }
    </div>

</div>


@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")﻿
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")﻿
    <script src="~/Scripts/jquery-ui.js"></script>
}